.pictures{
    margin: auto;
    position: relative;    
    width: 380px;
    height: 380px;
}
.biohazard{
    position: absolute;
    width: 200px;
    top: 0px;
    left: 0px;    
}
.mw{
    position: absolute;
    width: 200px;
    top: 0px;
    left: 200px;
    
}
.yang{
    position: absolute;
    width: 200px;
    top: 190px;
    left: 100px;
    
}
.smoking{
    position: absolute;
    width: 200px;
    top: 80px;
    left: 95px;
    
}
.biohazard:hover{
    z-index: 1;
}
.yang:hover{
    z-index: 1;
}
.mw:hover{
    z-index: 1;
}
