.square1{
    width: 250px;
    height: 250px;
    border: 1px solid;
    background-color: blue;
    border-radius: 40px 40px 40px 40px;
}
.square2{
    width: 250px;
    height: 250px;
    border: 1px solid;
    background-color: rgb(0, 255, 64);
    border-radius: 40px 40px 40px 40px;
}
.square3{
    width: 250px;
    height: 250px;
    border: 1px solid;
    background-color: rgb(255, 0, 85);
    border-radius: 40px 40px 40px 40px;
}
.square4{
    width: 250px;
    height: 250px;
    border: 1px solid;
    background-color: rgb(255, 166, 0);
    border-radius: 40px 40px 40px 40px;
}
.square5{
    width: 250px;
    height: 250px;
    border: 1px solid;
    background-color: rgb(174, 0, 255);
    border-radius: 40px 40px 40px 40px;
}
.square6{
    width: 250px;
    height: 250px;
    border: 1px solid;
    background-color: rgb(9, 255, 0);
    border-radius: 40px 40px 40px 40px;
}
.square7{
    width: 250px;
    height: 250px;
    border: 1px solid;
    background-color: rgb(0, 247, 255);
    border-radius: 40px 40px 40px 40px;
}